header, nav, main, footer { display: block; }
body { background-color: #598a7a;
       font-family: Verdana, Arial, sans-serif;
}
#wrapper { width: 100%;
           margin: auto;
		   background-color: #59fafd;
		   color: #330000;
		   box-shadow: 5px 5px 5px #000000;
		   float: left;
		   float: left;
}
header img {
	float: left;
}
header {
	overflow: auto;
}
h1 { background-color: #59fafd;
	 font-family: Georgia, "Times New Roman", serif;
	 font-size: 4.5em;
     text-shadow: 3px 3px 3px #90745D;
	 margin: 20px 0 0 20px
}
nav { padding-top: 10px;
      float: left;
      width: 200px; 
	  float: left;
}
nav ul { list-style-type: none; 
       padding-left: 20px;
	 }
nav li { padding-bottom: 5px;
       font-weight: bold;
}
nav a { text-decoration: none; }
nav a:link { color: #330000; }
nav a:visited{ color: #90745D; }
nav a:hover { color: #3F4632; }


main { background-color: #FFFFCC;
          margin-left: 200px;
          padding: 1px 20px 20px 20px;   
		  min-height: 300px;
}
main img { float: right;
              padding: 20px;
}
footer { background-color: #FFFFCC;
       margin-left: 200px;
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
}
#mobile {
	display: inline;
}

#desktop {
	display: none;
}

	  